table {
  border-collapse: collapse;
  width: 50%;
}

table button {
  color: #efaa50;
  font-size: 6em;
  background-color: #0015a0;
  width: 100%;
}

button:disabled {
  background: #ccc;
  color: #dddddd;
}

#jeopardy-board {
  color: #ffffff;
  font-family: "Fjalla One", sans-serif;
  text-shadow: 4px 4px #000000;
  padding-top: 6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Different style for board one due to spacing */
#jeopardy-board-1 {
  color: #ffffff;
  font-family: "Fjalla One", sans-serif;
  text-shadow: 4px 4px #000000;
  padding-top: 6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.question {
  border: 2px solid black;
  padding: 20px;
  width: auto;
  text-align: center;
}

.final-jeopardy-button {
  color: #efaa50;
  font-size: 400%;
  background-color: #0015a0;
  width: 100%;
}

.answerContainer{
  display: flex
}

.margin {
  margin: 0 5px;
}

#answer {
  
  align-content: center;
}