body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#jeopardy-board {
  position: absolute;
  width: auto;
  background: #0015a0;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 4px 4px #000000;
}

table button {
  color: #efaa50;
  font-size: 600%;
  background-color: #0015a0;
  width: auto;
}

.question {
  border: 2px solid black;
  padding: 20px;
  width: auto
}

form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  font-size: 150%;
  font-weight: bold;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  color: white;
  border: none;
  padding: 1.2rem;
  margin: 1rem
}

button:disabled {
  background: #ccc;
  color: #dddddd
}